<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ station.name }} Probabilities Forecast</title>
    <link
      href="{{ url_for('static', path='css/styles.css') }}"
      rel="stylesheet"
      type="text/css"
    />
</head>
<body>
  <div>
    <p>Station: {{ station.name }} ({{ station.icao | upper }})</p>
  </div>
  <div>
    <p>Forecast issued at: {{ datetime }}</p>
  </div>
  <div>
    <p>Observation (METAR) used as predictor: <em>{{ predictor }}</em></p>
  </div>
  <table class="center" id="forecast">
    <tr class="tb-head">
      <th class="forecast">Hour (UTC)</th>
      <th class="forecast">Precipitation Prob. (%)</th>
      <th class="forecast">Obscuration Prob. (%)</th>
      <th class="forecast">Thunderstorm Prob. (%)</th>
      <th class="forecast">Limited Visibility Prob. (%)</th>
    </tr>
    {% for index in range( times | length ) %}
      {% if index % 2 == 0 %}
        <tr>
      {% else %}
        <tr class="bg-grey">
      {% endif %}
        <td class="forecast"><b>{{ times[index] }}</b></td>
        <td class="forecast"><b>{{ forecasts["Precipitation Prob. (%)"][times[index]] | replace("nan", "No data") }}</b></td>
        <td class="forecast"><b>{{ forecasts["Obscuration Prob. (%)"][times[index]] | replace("nan", "No data") }}</b></td>
        <td class="forecast"><b>{{ forecasts["Thunderstorm Prob. (%)"][times[index]] | replace("nan", "No data") }}</b></td>
        <td class="forecast"><b>{{ forecasts["Limited Visibility Prob. (%)"][times[index]] | replace("nan", "No data") }}</b></td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>